extends ../../../../../app/views/layout-react

block entrypointVar
	- entrypoint = 'modules/admin-panel/pages/admin-config-page'

block content
	#main-content.content.content-alt
		.container
			#admin-config-root
